.hero__container {
	width: 320px;
	height: 320px;
	border: 1px solid black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.hero__image {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 320px;
	height: 320px;
}
